@import "../constants.scss";

.btn{
  padding: .5rem 1rem;
  border-radius: 5px;

  &.primary{
    background-color: $primary-color;
    color:white;
  }

  &.secondary{
    background-color: $secondary-color;
  }

  &.disabled{
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }
}